.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.formGroup input {
  display: block;
}

.button {
  background-color: #ff4f87;
  margin-top: 10px;
  width: 50;
  margin-left: 50px;
  margin-right: auto;
}
.card {
  width: 50%;
  border-radius: 20px;
  border: 1px black solid;
  padding: 20px;
  box-shadow: 11px -7px 47px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px -7px 47px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px -7px 47px 4px rgba(0, 0, 0, 0.75);
  background-color: white;
}
label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
input {
  display: block;
  margin: 0;
  padding: 0.8rem 1.6rem;
  color: inherit;
  width: 100%;
  font-family: inherit;

  font-weight: inherit;
  line-height: 1.8;
  border: 1px black solid;
  border-radius: 0.4rem;
}

input:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
