.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.card {
  width: 50%;
  border-radius: 20px;
  border: 1px black solid;
  padding: 20px;
  box-shadow: 11px -7px 47px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px -7px 47px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px -7px 47px 4px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.button {
  margin-top: 20px;
}
